.dashboard-wrapper{
  padding: 1em 0.5em 1em 5em;
  background-color: rgb(240, 239, 239);
  overflow-y: scroll;
  height: 78vh;
}

.no-post-text{
  margin: auto  ;
}

#divider{
  width: 1000px;
  margin: auto;
}
